/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;

}

.navbar-brand {
  color: white !important;
  font-size: 1.8em;
  text-shadow: 2px 2px #888;
}

.navbar-inverse {
  box-shadow: none !important;
  padding: 10px;
}

.nav-sidebar {
  padding-top: 50px;
  padding-right: 5px;
}

.nav-sidebar li {
  font-size: 1.2em;
  font-weight: bold;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
/*    z-index: 1000;
*/    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    box-shadow: inset -12px 0 8px -12px rgba(31, 73, 125, 0.8);
    background-color: #eeeeee;
    width: 250px !important;
  }
}

.footer-div {
  position: absolute;
  left: 0px;
  bottom: 10px;
  width: 250px !important;
  color: #666666;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #CCC;
  width: 248px !important;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #555D65;
}

.nav-sidebar a:hover {
  background-color: #888F98 !important;
  color: #FFF;
}

.fa {
  margin-right: 8px;
}

.navbar-nav > li > a {
    color: white !Important;
        font-size: 1.2em;
}

.navbar-right li a:hover {
  color: #aaa !important;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  /* font-size: 17px; */
  font-size: 14px;
}
@media (min-width: 768px) {
  .main {
  }
}
.main .page-header {
  margin-top: 60px;
  margin-bottom: 30px !important;
}

.page-header {
   font-weight: bold;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.clickable_link {
   cursor: pointer;
}

.dropdown-toggle {
   background-color: #337ab7;
   color: white;
}

.dialogdemoBasicUsage #popupContainer {
position: relative; }
.dialogdemoBasicUsage .footer {
width: 100%;
       text-align: center;
       margin-left: 20px; }
       .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
           font-size: 0.8em;
           margin-top: 50px; }
           .dialogdemoBasicUsage button {
width: 200px; }
.dialogdemoBasicUsage div#status {
color: #c60008; }

.rbac_main_buttons{
     width: 100%;
     border: 1px solid right;
     text-align: right;
}

.btn-danger {
   background-color: #d9534f !important;
   margin-left: 10px !important;
}

.btn-cancel {
   background-color: #f0ad4e !important;
   margin-left: 10px !important;
   color: white !important;
}

.btn-submit {
   background-color: #5cb85c !important;
   margin-left: 10px !important;
   color: white !important;
}

.md-primary {
    padding: 5px !important;
}

td {
   vertical-align: middle !important;
}

#messageBox {
   position: absolute;
   top: 65px;
   z-index: 1000;
   border: 1px dotted #039be5;
   width: 50%;
   right: 0px;
   font-size: 1.3em;
   text-align: center;
   padding: 5px;
   background-color: #d9534f;
   color: white;
   font-weight: bold;
   display: none;
}

.displayElement {
    display: block !important;
}

.create_scope_modal {
    margin: 60px;
}

.create_scope_modal md-input-container input {
    width: 400px;
}

.create_scope_button {
    background-color: #337ab7 !important;
}

.form-btns {
    margin: 5px !important;
}

md-toolbar {
    background-color: #337ab7 !important;
}

.inputdemoBasicUsage .md-datepicker-button {
  width: 66px; }

a {
   color: #337ab7 !important;
}

#scope_list_div {
   padding-right; 150px !important;
}

.destructuve_op_button {
   font-weight: bold !important;
   color: #d9534f !important;
}

.gen_tokens_table {
    height: 250px;
    overflow-y: auto;
    display: table;
}

.gen_tokens_td {
  padding: 4px;
  border: 1px solid gray;
  font-size: 1.1em;
}

.status_msg_block {
    padding: 60px 40px 100px 40px;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.status_icons {
    margin-bottom: 20px;
}

.err_icon {
    color: red;
}

.success_icon {
    color: green;
}

.nobg {
    background-color: none !important;
}

.link_highlight {
    background-color: #ccd !important;
}

.actions_buttons {
    padding: 0px 5px 0px 5px !important;
    background-color: #337ab7 !important;
    margin: 0px !important;
}

.actions_menu {
    vertical-align: middle;
}
