<md-dialog aria-label="Create Scope"  ng-controller="CreateScopeController" ng-cloak class='create_scope_modal md-inline-form'>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Scope</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
            <md-progress-linear md-mode="indeterminate" class='md-warn md-hue-3' ng-show="show_prog_bar"></md-progress-linear>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column" ng-cloak class="md-inline-form" ng-show='show_form_elements'>
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <md-content layout-padding>

                        <div>
                            <form name="createScopeForm">

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Scope Name</label>
                                        <input ng-model="scope_name" ng-required="true" placeholder="Enter unique Scope Name" pattern="[a-zA-Z0-9-_|]{6,20}">
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <md-checkbox ng-model="netflowstatus"
                                        ng-true-value="'enable'"
                                        ng-false-value="'disable'"
                                        aria-label="Netflow" placeholder="Check to enable NetFlow">
                                            NetFlow
                                        </md-checkbox>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <md-checkbox md-no-ink
                                        ng-model="rawforwardstatus"
                                        ng-true-value="'enable'"
                                        ng-false-value="'disable'"
                                        aria-label="Rawforward"
                                        placeholder="Check to enable RawForward">
                                            RawForward
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
							<!-- Uncomment below code if need SFlow component in GUI -->
                            <!--<div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <md-checkbox md-no-ink
                                        ng-model="sflowstatus"
                                        ng-true-value="'enable'"
                                        ng-false-value="'disable'"
                                        aria-label="Sflow" placeholder="Check to enable SFlow">
                                            SFlow
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
							-->
                                <md-dialog-actions layout="row">
                                    <md-button class='form-btns btn-cancel' ng-click="cancel()">Cancel</md-button>
                                    <span flex></span>
                                    <md-button class='form-btns btn-submit' ng-disabled="!(!!scope_name)"ng-click="submit()">Create</md-button>
                                </md-dialog-actions>

                            </form>
                        </div>
                    </md-content>
                </md-content>
            </div>

            <md-input-container class="md-block status_msg_block"  ng-show='show_status_msgs'>
                <i class="fa fa-times-circle fa-4x status_icons err_icon" ng-show="show_err_icon"></i><br />
                <i class="fa fa-check-circle fa-4x status_icons success_icon" ng-show="show_success_icon"></i><br />
                {{status_msg}}
            </md-input-container>

        </md-dialog-content>
</md-dialog>

