<md-dialog aria-label="Edit SFlow Association"  ng-controller="EditSflowAssociationController" ng-cloak class='create_scope_modal md-inline-form'>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit SFlow Association</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
            <md-progress-linear md-mode="indeterminate" class='md-warn md-hue-3' ng-show="show_prog_bar"></md-progress-linear>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column" ng-cloak class="md-inline-form" ng-show='show_form_elements'>
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <md-content layout-padding>

                        <div>
                            <form name="editSflowAssociationForm">

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>SFlow Association ID</label>
                                        <input ng-model="sflowassociation_id" value="{{available_sflowassociations.id}}" readonly>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Scope Name</label>
                                        <p class="help-block">Scope Name</p>
                                       <md-select ng-model="scope_id" flex-gt-sm ng-model-options="{trackBy: '$value.id'}">
                                            <md-option ng-repeat="scope in scopes" ng-value="{{scope}}" ng-selected="scope.id === scopeid">{{scope.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>SFlow Collector/CollectorSet Name</label>
                                        <p class="help-block">Select SFlow Collector/CollectorSet Name</p>
                                        <md-select ng-model="collector_id" flex-gt-sm ng-model-options="{trackBy: '$value.id'}">
                                            <md-option ng-repeat="collector in collectors" ng-value="{{collector}}" ng-selected="collector.id === sflowcollector_id">{{collector.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Direction</label>
                                        <md-select ng-model="direction" ng-model-options="{trackBy: '$value.id'}" flex-gt-sm>
                                            <md-option ng-repeat="direction in directions" ng-value="{{direction}}" >{{direction.value}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Policy Name</label>
                                        <p class="help-block">Select Policy Name</p>
                                        <md-select ng-model="policy_id" flex-gt-sm ng-model-options="{trackBy: '$value.id'}">
                                            <md-option ng-repeat="policy in policys" ng-value="{{policy}}" ng-selected="policy.id === policyid">{{policy.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <md-dialog-actions layout="row">
                                    <md-button class='form-btns btn-cancel' ng-click="remove()">Remove Sflow Association</md-button>
                                    <span flex></span>
                                    <md-button class='form-btns btn-submit' ng-disabled="editSflowAssociationForm.$invalid" ng-click="add()">Update Sflow Association</md-button>
                                </md-dialog-actions>

                            </form>
                        </div>
                    </md-content>
                </md-content>
            </div>

            <md-input-container class="md-block status_msg_block"  ng-show='show_status_msgs'>
                <i class="fa fa-times-circle fa-4x status_icons err_icon" ng-show="show_err_icon"></i><br />
                <i class="fa fa-check-circle fa-4x status_icons success_icon" ng-show="show_success_icon"></i><br />
                {{status_msg}}
            </md-input-container>

        </md-dialog-content>
</md-dialog>

