<div class="main">
    <h1 class="page-header">{{title}}</h1>
    <div class="tabs">
        <ul class="nav nav-tabs responsive nav-justified role=" tablist "">
            <li class="nav-item">
                <a class="nav-link active" ng-click="tab = 1" data-toggle="tab" href="netflow_collector" role="tab">NetFlow Collector</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="tab = 2" data-toggle="tab" href="netflow_config" role="tab">NetFlow Config</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="tab = 3" data-toggle="tab" href="netflow_monitor" role="tab">NetFlow Monitor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="tab = 4" data-toggle="tab" href="netflow_association" role="tab">NetFlow Association</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="tab = 5" data-toggle="tab" href="netflow_collectorset" role="tab">NetFlow Collectorset</a>
            </li>
        </ul>
        <!--table for Netflow Collector-->
        <div class="tab-content">
            <div class="tab-pane active" id="netflow_collector" ng-show="tab==1">
                <h4>NetFlow Collector</h4>
                <div class="rbac_main_buttons">
                    <md-input-container md-no-float style="margin-bottom: 0px;">
                        <input ng-model="searchText1" id="search_text_inp" placeholder="Search">
                    </md-input-container>
                    <md-button class="md-primary md-raised create_scope_button" ng-click="createNetflowCollectorDialog($event)">
                        <i class="fa fa-plus"></i>Create
                    </md-button>
                    <md-button class="md-primary md-raised btn-danger" ng-click="selectedNetflowCollectorDelete($event)">
                        <i class="fa fa-trash"></i>Delete
                    </md-button>
                </div>
                <div class="table-responsive" id="scope_list_div">
                    <table class="table table-striped table-bordered table-hover footable toggle-medium">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a href ng-click="sortType = 'name'; sortReverse = !sortReverse">Collector Name</a>
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'ip_address'; sortReverse = !sortReverse">
                  Collector IP</a>
                                    <span ng-show="sortType == 'ip_address' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'ip_address' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'udp_port'; sortReverse = !sortReverse">
                    Collector UDP Port</a>
                                    <span ng-show="sortType == 'udp_port' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'udp_port' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="netflowcollector in available_netflowcollectors | filter:searchText1 | orderBy:sortType:sortReverse">
                                <td>
                                    <input type="checkbox" ng-model="selected[netflowcollector.id]"></input>
                                    <td>{{ netflowcollector.name}}</td>
                                    <td>{{ netflowcollector.ip_address}}</td>
                                    <td>{{ netflowcollector.udp_port}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <md-menu>
                                                <md-button class="md-raised md-primary
                          actions_buttons" ng-click="$mdOpenMenu($event)">Select Action<span class="caret"></span></md-button>
                                                <md-menu-content width="4">
                                                    <md-menu-item>
                                                        <md-button ng-click="editNetflowCollector($event, 'netflow', netflowcollector.id)">
                                                            Edit NetFlow Collector
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Table for Netflow Config -->
            <div class="tab-pane active" id="netflow_config" ng-show="tab==2">
                <h4>NetFlow Config</h4>
                <div class="rbac_main_buttons">
                    <md-input-container md-no-float style="margin-bottom: 0px;">
                        <input ng-model="searchText2" id="search_text_inp" placeholder="Search">
                    </md-input-container>
                </div>
                <div class="table-responsive" id="scope_list_div">
                    <table class="table table-striped table-bordered table-hover footable toggle-medium">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a href ng-click="sortType = 'scope_id'; sortReverse = !sortReverse">
                      Scope Name</a>
                                    <span ng-show="sortType == 'scope_id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'scope_id' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'active_timeout'; sortReverse = !sortReverse">
                        Active Timeout</a>
                                    <span ng-show="sortType == 'active_timeout' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'active_timeout' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'inactive_timeout'; sortReverse = !sortReverse">
                          Inactive Timeout</a>
                                    <span ng-show="sortType == 'inactive_timeout' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'inactive_timeout' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'refresh_rate'; sortReverse = !sortReverse">
                            Refresh Rate</a>
                                    <span ng-show="sortType == 'refresh_rate' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'refresh_rate' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'timeout_rate'; sortReverse = !sortReverse">
                              Timeout Rate</a>
                                    <span ng-show="sortType == 'timeout_rate' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'timeout_rate' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'maxflows'; sortReverse = !sortReverse">
                                MaxFlows</a>
                                    <span ng-show="sortType == 'maxflows' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'maxflows' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="netflowconfig in available_netflowconfigs | filter:searchText2 | orderBy:sortType:sortReverse">
                                <td>
                                    <input type="checkbox" ng-model="selected[netflowconfig.id]"></input>
                                    <td>{{ netflowconfig.scope_id}}</td>
                                    <td>{{ netflowconfig.active_timeout}}</td>
                                    <td>{{ netflowconfig.inactive_timeout}}</td>
                                    <td>{{ netflowconfig.refresh_rate}}</td>
                                    <td>{{ netflowconfig.timeout_rate}}</td>
                                    <td>{{ netflowconfig.maxflows}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <md-menu>
                                                <md-button class="md-raised md-primary
                                      actions_buttons" ng-click="$mdOpenMenu($event)">Select Action<span class="caret"></span></md-button>
                                                <md-menu-content width="4">
                                                    <md-menu-item>
                                                        <md-button ng-click="editNetflowConfig($event, 'netflow', netflowconfig.id)">
                                                            Edit NetFlow Config
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Table for Netflow Monitor -->
            <div class="tab-pane active" id="netflow_monitor" ng-show="tab==3">
                <h4>NetFlow Monitor</h4>
                <div class="rbac_main_buttons">
                    <md-input-container md-no-float style="margin-bottom: 0px;">
                        <input ng-model="searchText3" id="search_text_inp" placeholder="Search">
                    </md-input-container>
                </div>
                <div class="table-responsive" id="scope_list_div">
                    <table class="table table-striped table-bordered table-hover footable toggle-medium">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a href ng-click="sortType = 'scope_id'; sortReverse = !sortReverse">
                                  Scope Name</a>
                                    <span ng-show="sortType == 'scope_id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'scope_id' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'match_fields'; sortReverse = !sortReverse">
                                    Match Fields</a>
                                    <span ng-show="sortType == 'match_fields' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'match_fields' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'collect_fields'; sortReverse = !sortReverse">
                                      Collect Fields</a>
                                    <span ng-show="sortType == 'collect_fields' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'collect_fields' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="netflowmonitor in available_netflowmonitors | filter:searchText3 | orderBy:sortType:sortReverse">
                                <td>
                                    <input type="checkbox" ng-model="selected[netflowmonitor.id]"></input>
                                    <td>{{ netflowmonitor.scope_id}}</td>
                                    <td>{{ netflowmonitor.match_fields}}</td>
                                    <td>{{ netflowmonitor.collect_fields}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <md-menu>
                                                <md-button class="md-raised md-primary actions_buttons" ng-click="$mdOpenMenu($event)">Select action<span class="caret"></span></md-button>
                                                <md-menu-content width="4">
                                                    <md-menu-item>
                                                        <md-button ng-click="editNetflowMonitor($event, 'netflow', netflowmonitor.id)">
                                                            Edit NetFlow Monitor
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Table for Netflow Association -->
            <div class="tab-pane active" id="netflow_association" ng-show="tab==4">
                <h4>NetFlow Association</h4>
                <div class="rbac_main_buttons">
                    <md-input-container md-no-float style="margin-bottom: 0px;">
                        <input ng-model="searchText4" id="search_text_inp" placeholder="Search">
                    </md-input-container>
                    <md-button class="md-primary md-raised create_scope_button" ng-click="createNetflowAssociationDialog($event)">
                        <i class="fa fa-plus"></i>Create
                    </md-button>
                    <md-button class="md-primary md-raised btn-danger" ng-click="selectedNetflowAssociationDelete($event)">
                        <i class="fa fa-trash"></i>Delete
                    </md-button>
                </div>
                <div class="table-responsive" id="scope_list_div">
                    <table class="table table-striped table-bordered table-hover footable toggle-medium">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a href ng-click="sortType = 'scope_id'; sortReverse = !sortReverse">
                                          Scope Name</a>
                                    <span ng-show="sortType == 'scope_id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'scope_id' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'collector_id'; sortReverse = !sortReverse">
                                            Collector/CollectorSet Name</a>
                                    <span ng-show="sortType == 'collector_id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'collector_id' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'direction'; sortReverse = !sortReverse">
                                              Direction</a>
                                    <span ng-show="sortType == 'direction' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'direction' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'policy_id'; sortReverse = !sortReverse">
                                                Policy Name</a>
                                    <span ng-show="sortType == 'policy_id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'policy_id' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="netflowassociation in available_netflowassociations | filter:searchText4 | orderBy:sortType:sortReverse">
                                <td>
                                    <input type="checkbox" ng-model="selected[netflowassociation.id]"></input>
                                    <td>{{ netflowassociation.scope_id}}</td>
                                    <td>{{ netflowassociation.collector_id}}</td>
                                    <td>{{ netflowassociation.direction}}</td>
                                    <td>{{ netflowassociation.policy_id}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <md-menu>
                                                <md-button class="md-raised md-primary actions_buttons" ng-click="$mdOpenMenu($event)">Select action<span class="caret"></span></md-button>
                                                <md-menu-content width="4">
                                                    <md-menu-item>
                                                        <md-button ng-click="editNetflowAssociation($event, 'netflow', netflowassociation.id)">
                                                            Edit NetFlow Association
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Table for Netflow CollectorSet -->
            <div class="tab-pane active" id="netflow_collectorset" ng-show="tab==5">
                <h4>NetFlow Collectorset</h4>
                <div class="rbac_main_buttons">
                    <md-input-container md-no-float style="margin-bottom: 0px;">
                        <input ng-model="searchText5" id="search_text_inp" placeholder="Search">
                    </md-input-container>
                    <md-button class="md-primary md-raised create_scope_button" ng-click="createNetflowCollectorsetDialog($event)">
                        <i class="fa fa-plus"></i>Create
                    </md-button>
                    <md-button class="md-primary md-raised btn-danger" ng-click="selectedNetflowCollectorSetDelete($event)">
                        <i class="fa fa-trash"></i>Delete
                    </md-button>
                </div>
                <div class="table-responsive" id="scope_list_div">
                    <table class="table table-striped table-bordered table-hover footable toggle-medium">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a href ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                                  CollectorSet Name</a>
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'collectorInsideSet'; sortReverse = !sortReverse">
                                                    Collector List</a>
                                    <span ng-show="sortType == 'collectorInsideSet' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'collectorInsideSet' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    <a href ng-click="sortType = 'lb_algo'; sortReverse = !sortReverse">
                                                      Algorithm</a>
                                    <span ng-show="sortType == 'lb_algo' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'lb_algo' && sortReverse" class="fa fa-caret-up"></span>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="netflowcollectorset in available_netflowcollectorsets | filter:searchText5 | orderBy:sortType:sortReverse">
                                <td>
                                    <input type="checkbox" ng-model="selected[netflowcollectorset.id]"></input>
                                    <td>{{ netflowcollectorset.name}}</td>
                                    <td>{{ netflowcollectorset.collectorInsideSet}}</td>
                                    <td>{{ netflowcollectorset.lb_algo}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <md-menu>
                                                <md-button class="md-raised md-primary
                                                            actions_buttons" ng-click="$mdOpenMenu($event)">Select Action<span class="caret"></span></md-button>
                                                <md-menu-content width="4">
                                                    <md-menu-item>
                                                        <md-button ng-click="editNetflowCollectorSet($event, 'user', netflowcollectorset.id)">
                                                            Edit NetFlow CollectorSet
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div
